.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/icon-sprite.svg');
}

/* Meta tag */
.icon-home {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-calendar {
  width: 16px;
  height: 16px;
  background-position: -240px 0;
}
.icon-user {
  width: 16px;
  height: 16px;
  background-position: -288px 0;
}


.icon-pencil {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-connection {
  width: 40px;
  height: 32px;
  background-position: -96px 0;
}
.icon-price-tag {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-price-tags {
  width: 40px;
  height: 32px;
  background-position: -192px 0;
}
.icon-menu {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
  background-size: 16px 16px;
}
.icon-pagebreak {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-facebook2 {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.icon-rss2 {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}
.icon-dropbox {
  width: 32px;
  height: 32px;
  background-position: -528px 0;
}
.icon-onedrive {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.icon-github {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}
.icon-wordpress {
  width: 32px;
  height: 32px;
  background-position: -672px 0;
}
