/* Reset css */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, form, input, nav,
textarea, p, blockquote, td {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Century Gothic', "Microsoft JhengHei", "Times New Roman", Times, serif;
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.0em;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/* HTML5 tag*/
article, aside, figure, footer, footer, header, nav, section, input {
  display: block;
}

/* Header */
#header {
  background: #23282D;
  font-family: 'Century Gothic', "Microsoft JhengHei", "Times New Roman", Times, serif;
  padding: 1em 0;
  width: 100%;
}
#header .container {
  max-width: 1200px;
  margin: 10px auto;
}
#header h1 a {
  color: #eee;
  text-decoration: none;
}
#header p {
  color: #eee;
}

#navigation {
  background: #324956;
  font-family: "Microsoft JhengHei", "Times New Roman", Times, serif;
  max-width: 100%;
  margin-bottom: 20px;
}
#navigation ul {
  max-width: 1250px;
  margin: 0 auto;
  overflow: hidden;
}
#navigation ul li {
  float: left;
  min-width: 70px;
  margin: 10px;
  text-align: center;
}
#navigation ul li a {
  text-decoration: none;
  color: #fff;
}
#navigation ul li a:hover {
  color: #ccc;
}

/*  Main  */
body {
  background: #F1F1F1;
}

#page {
  max-width: 1200px;
  margin: 0 auto 30px auto;
  overflow: hidden;
}

/* Slider Box */
/* Post List */
#post-list {
  float: left;
  width: 825px;
}

.posts-unit {
  background: #FFF;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin-bottom: 20px;
  min-height: 260px;
  position: relative;
  width: 825px;
}
.posts-unit header {
  font-family: 'Century Gothic', "Microsoft JhengHei", "Times New Roman", Times, serif;
  margin: 10px 20px;
}
.posts-unit header a {
  color: #444;
  text-decoration: none;
}
.posts-unit header a:hover {
  text-decoration: underline;
}
.posts-unit header .sticky {
  color: #d63838;
}
.posts-unit img {
  max-width: 200px;
}
.posts-unit .summary {
  font-family: "Arial", "Microsoft JhengHei", "Times New Roman", Times, serif;
  margin: 0 15px;
  text-align: justify;
}
.posts-unit footer {
  background: #F7F7F7;
  border-top: 1px solid #ddd;
  bottom: 0;
  font-family: "Arial", "Microsoft JhengHei", "Times New Roman", Times, serif;
  position: absolute;
  width: 100%;
  height: 1.8em;
}
.posts-unit footer .meta {
  line-height: 1.8em;
  letter-spacing: 1.5px;
  margin-left: 1em;
}
.posts-unit footer .more-link {
  right: 20px;
  position: absolute;
}
.posts-unit footer a {
  color: #505bbb;
  text-decoration: none;
}
.posts-unit footer a:hover {
  color: #bd4141;
  text-decoration: underline;
}

/* Page Navi*/
.page-navi {
  font-family: "Arial", "Microsoft JhengHei", "Times New Roman", Times, serif;
  position: relative;
  height: 30px;
  width: 100%;
  position: relative;
}
.page-navi .nav-link {
  position: absolute;
}
.page-navi .nav-num-list {
  display: block;
  position: relative;
  margin: 0 auto;
}
.page-navi .nav-num-list .page-numbers {
  background: #bbb;
  color: #333;
  height: 28px;
  line-height: 28px;
  text-align: center;
  float: left;
  margin: 0 5px;
  text-decoration: none;
  min-width: 28px;
}
.page-navi .nav-num-list .page-numbers a {
  display: block;
  text-decoration: none;
  width: 80px;
  color: #333;
}
.page-navi .nav-num-list .page-numbers:hover {
  background: #7ba3f4;
  transition: 0.5s;
}
.page-navi .nav-num-list .current {
  background: #7ba3f4;
}
.page-navi .prev-link {
  background: #bbb;
  color: #333;
  height: 28px;
  line-height: 28px;
  text-align: center;
  right: 100px;
  text-align: center;
}
.page-navi .prev-link a {
  display: block;
  text-decoration: none;
  width: 80px;
  color: #333;
}
.page-navi .prev-link:hover {
  background: #7ba3f4;
  transition: 0.5s;
}
.page-navi .next-link {
  right: 0;
  background: #bbb;
  color: #333;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.page-navi .next-link a {
  display: block;
  text-decoration: none;
  width: 80px;
  color: #333;
}
.page-navi .next-link:hover {
  background: #7ba3f4;
  transition: 0.5s;
}

/* Page / Single */
#breadcrumb {
  font-family: 'Century Gothic', "Microsoft JhengHei", "Times New Roman", Times, serif;
  margin-bottom: 15px;
}

.page-single {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  float: left;
  min-height: 300px;
  padding-bottom: 142px;
  position: relative;
  width: 825px;
}
.page-single header {
  font-family: 'Century Gothic', "Microsoft JhengHei", "Times New Roman", Times, serif;
  margin: 10px 20px;
}
.page-single section {
  font-family: "Microsoft JhengHei", "Times New Roman", Times, serif;
  margin: 10px 20px;
}
.page-single footer {
  background: #F7F7F7;
  border-top: 1px solid #bbb;
  bottom: 0;
  font-family: 'Century Gothic', "Microsoft JhengHei", "Times New Roman", Times, serif;
  width: 100%;
  position: absolute;
}

#author-info {
  padding: 20px;
  overflow: hidden;
}
#author-info .description {
  float: left;
  margin: 0 15px 5px 15px;
}
#author-info .description h6 {
  font-size: 20px;
  font-weight: bold;
}
#author-info img {
  float: left;
  border: 1px solid #ccc;
}

/* Comments List */
#comments {
  overflow: hidden;
  float: left;
  width: 825px;
  padding: 30px 0px;
  margin-bottom: 30px;
}
#comments .comment-inner {
  background: #ddd;
  padding: 20px 40px 0 40px;
}
#comments .comment-inner header {
  margin-bottom: 10px;
}
#comments .comment-inner ol li {
  margin-bottom: 20px;
}
#comments .comment-inner ol ul {
  margin-left: 20px;
}

.comment-body {
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  font-family: "Microsoft JhengHei", "Times New Roman", Times, serif;
  padding-bottom: 20px;
  overflow: hidden;
}
.comment-body .comment-author-view {
  overflow: hidden;
  height: 60px;
}
.comment-body .comment-author-view img {
  border: 1px solid #fff;
  background: #fff;
  float: left;
  margin-right: 15px;
}
.comment-body .comment-author-view cite {
  font-size: 18px;
  font-style: normal;
}
.comment-body .comment-author-view cite a {
  text-decoration: none;
}
.comment-body .comment-author-view time {
  font-size: 18px;
  display: block;
  line-height: 30px;
}
.comment-body .comment-text {
  margin: 5px 0;
}
.comment-body .reply {
  float: right;
  background: #bbb;
  border: 1px solid #bbb;
  border-radius: 2px;
  padding: 5px;
  max-width: 40px;
  text-align: center;
}
.comment-body .reply a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}
.comment-body .reply:hover {
  background: #7ba3f4;
  transition: 0.5s;
}

/* Comments Form */
#respond {
  border: 1px solid #111;
}
#respond h3 {
  margin: 5px 20px;
}

#commentform {
  font-family: "Microsoft JhengHei", "Times New Roman", Times, serif;
  overflow: hidden;
  padding: 5px 20px;
}
#commentform .comment-form-comment {
  margin-right: 40px;
  float: right;
}
#commentform .comment-form-comment textarea {
  width: 420px;
  resize: none;
}
#commentform .comfield {
  width: 300px;
  overflow: hidden;
  margin: 5px  20px 20px 20px;
}
#commentform .comfield label {
  float: left;
}
#commentform .comfield input {
  float: right;
  margin-right: 20px;
}
#commentform .form-submit {
  width: 825px;
  float: right;
  margin: 5px 40px 10px 40px;
}
#commentform .form-submit input {
  float: right;
  background: #bbb;
  border: 1px solid #ddd;
  padding: 3px;
}
#commentform .form-submit input:hover {
  background: #7ba3f4;
  transition: 0.5s;
}

#sidebar {
  float: right;
  font-family: 'Century Gothic', "Microsoft JhengHei", "Times New Roman", Times, serif;
  margin: 0 20px 40px 0;
  width: 280px;
}

.side-widget {
  margin-bottom: 40px;
}
.side-widget h4 {
  border-bottom: 1px solid #000;
}
.side-widget ul {
  margin: 10px 15px;
}
.side-widget ul li {
  border-bottom: 1px dotted #333;
  margin-bottom: 2px;
}
.side-widget ul li a {
  color: #333;
  text-decoration: none;
}
.side-widget ul li a:hover {
  color: #7ba3f4;
}

#footer {
  background: #23282d;
  width: 100%;
}

#site-info {
  background: #324956;
  color: #bbb;
  font-family: "Microsoft JhengHei", "Times New Roman", Times, serif;
  letter-spacing: 1px;
  text-align: center;
  line-height: 30px;
  height: 30px;
}
#site-info a {
  color: #fff;
  text-decoration: none;
}
#site-info a:hover {
  color: #eee;
  text-decoration: underline;
}

#footer-bar {
  max-width: 1210px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}

.footer-bar-unit {
  border-right: 1px solid #aaa;
  float: left;
  overflow: hidden;
  width: 32%;
  min-height: 0.5px;
}
.footer-bar-unit:last-child {
  border-right: none;
}

.footer-widget {
  display: block;
  font-family: 'Century Gothic', "Microsoft JhengHei", "Times New Roman", Times, serif;
  overflow: hidden;
  margin: 0 0 0 20px;
}
.footer-widget .footer-widget-title {
  color: #ddd;
  text-decoration: underline;
}
.footer-widget ul {
  margin: 5px 0 5px 5px;
}
.footer-widget ul a {
  color: #bbb;
  text-decoration: none;
}
.footer-widget ul a:hover {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
