/* Header */
#header{
  background: #23282D;
  font-family: 'Century Gothic', "Microsoft JhengHei", "Times New Roman", Times, serif;
  padding: 1em 0;
  width: 100%;
  .container{
    max-width: 1200px;
    margin: 10px auto;
  }
  h1 a{
    color: #eee;
    text-decoration: none;
  }
  p {
    color: #eee;
  }
}

#navigation {
  background: #324956;
  font-family: "Microsoft JhengHei", "Times New Roman", Times, serif;
  max-width: 100%;
  ul {
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
    li {
      float: left;
      min-width: 70px;
      margin: 10px;
      text-align: center;
      a {
        text-decoration: none;
        color: #fff;
        &:hover{
          color: #ccc;
        }
      }
    }
  }
}
