/*  Main  */
body{
  background: #F1F1F1;
}

#page {
  max-width: 1200px;
  margin: 0 auto 20px auto;
  overflow: hidden;
}

/* Slider Box */



/* Post List */
#post-list{
  float: left;
  width: 825px;
  margin-bottom: 20px;
}

.posts-unit{
  background: #FFF;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin-bottom: 20px;
  min-height: 260px;
  overflow: hidden;
  padding-bottom: 30px;
  position: relative;
  width: 825px;
  header{
    margin: 10px 20px;

    a {
      color: #444;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }

    .sticky{
      color:#d63838;
    }
  }

  .featured-thumbnail{
    display: block;
    float: left;
    margin: 0 20px 10px 20px;
  }

  img {
    width: 200px;
    height: 200px;
    filter: opacity(1);
    transition: 0.5s;
    &:hover{
      filter: opacity(0.5);
    }
  }


  .summary{
    font-family: "Arial", $common-font;
    margin: 0 15px;
    text-align: justify;
  }

  footer{
    background: #F7F7F7;
    border-top: 1px solid #ddd;
    bottom: 0;
    font-family: "Arial", $common-font;
    position: absolute;
    width: 100%;
    height: 25px;
    .meta {
      line-height: 1.8em;
      letter-spacing: 1.5px;
      margin-left: 1em;
    }

    .more-link{
      right: 20px;
      position: absolute;
    }

    a {
      color: #505bbb;
      text-decoration: none;
      &:hover{
        color: #bd4141;
        text-decoration: underline;
      }
    }
  }
}

/* Page Navi*/
@mixin nav-button {
  background: #bbb;
  color: #333;
  height: 28px;
  line-height: 28px;
  text-align: center;

  a{
    display: block;
    text-decoration: none;
    width: 80px;
    color: #333;
  }

  &:hover{
    background: #7ba3f4;
    transition: 0.5s;
  }

}


.page-navi{
  font-family: "Arial", $common-font;
  position: relative;
  height: 30px;
  width: 100%;
  position: relative;
  .nav-link{
    position: absolute;
  }

  .nav-num-list{
    display: block;
    position: relative;
    margin: 0 auto;
    .page-numbers{
      @include nav-button;
      float: left;
      margin: 0 5px;
      text-decoration: none;
      min-width: 28px;
    }
    .current{
      background: #7ba3f4;
    }

  }

  .prev-link{
    @include nav-button;
    right: 100px;
    text-align: center;
   }

  .next-link{
    right: 0;
    @include nav-button;
  }
}
