#sidebar{
  float: right;
  font-family: 'Verdana', $common-font;
  margin: 0 20px 20px 0;
  width: 350px;
}

.side-widget {
  margin-bottom: 0px;
  padding: 0 20px 20px 20px;
  h4 {
    border-bottom: 1px solid #000;
  }

  ul {
    margin: 10px 15px;

    li {
      border-bottom: 1px dotted #333;
      margin-bottom: 2px;

      a {
        color: #333;
        text-decoration: none;
        &:hover{
          color: #7ba3f4;
        }
      }
    }
  }
}
