/* Page / Single */
#breadcrumb{
  font-family: "Verdana", $common-font;
  margin-bottom: 15px;
  a {
    text-decoration: none;
    color: #4d4a39;
    &:hover{
      text-decoration: underline;
    }
  }
}

.page-single{
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  float: left;
  min-height: 300px;
  padding-bottom: 142px;
  position:relative;
  width: 825px;
  margin-bottom: 20px;
  header{
    margin: 10px 20px;
  }

  section {
    font-family: $common-font;
    margin: 10px 20px;
  }

  footer{
    background: #F7F7F7;
    border-top: 1px solid #bbb;
    bottom: 0;
    font-family: 'Arial', $common-font;
    width: 100%;
    position: absolute;

  }

}

#author-info{
  padding: 20px;
  overflow: hidden;

  .description{
    float: left;
    margin: 0 15px 5px 15px;
    h6{
      font-size: 20px;
      font-weight: bold;
    }

  }

  img{
    float: left;
    border: 1px solid #ccc;
  }
}
